header {
  width: 100vw;
  padding: 20px 40px;
  margin-bottom: 2rem;
  background-color: #6f4ef6;
  h1 {
    color: white;
    cursor: pointer;
  }
}
.App {
  text-align: center;
  padding: 2rem 8rem;
  .App-content {
    display: flex;
    flex-direction: column;
    height: 80vh;
    h3 {
      margin: 2rem auto;
      color: white;
      font-size: 1.5rem;
    }
    form {
      input,
      select {
        height: 2.5rem;
        padding: 0 1rem;
        margin: 0 1rem;
        border-radius: 10px;
        border: none;
        background-color: transparent;
        color: white;
        font-size: 1.5rem;
      }
      input {
        width: 50%;
        &::placeholder {
          color: #9c86f9;
        }
      }
      select {
        width: 20%;
        option {
          border: none;
          background-color: #282c34;
          color: #6f4ef6;
        }
      }
    }
    .ListOfCountries {
      display: flex;
      flex-direction: column;
      align-content: center;
      overflow: hidden;
      overflow-y: scroll;
      gap: 1rem;
      .Country {
        color: white;
        width: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        a {
          text-decoration: none;
          color: unset;
          color: #9c86f9;
        }
      }
      .alert {
        width: 100%;
        background-color: #6f4ef6;
        font-size: 2rem;
        color: white;
      }
    }
    .card {
      margin: 10px auto;
      border-radius: 10px;
      background-color: white;
      max-width: 380px;
      width: 100%;
      overflow: hidden;
      border: solid 1px #6f4ef6;
      box-shadow: 0px 5px 45px rgb(0 0 0 / 10%);
      .name {
        font-weight: 800;
        font-size: 2rem;
        color: #282c34;
        text-transform: uppercase;
        padding: 2rem 1rem;
      }
      .information {
        .title,
        .data {
          min-height: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .title {
          background-color: #6f4ef6;
          text-transform: capitalize;
          color: white;
          font-weight: 600;
        }
        .data {
          background-color: white;
          ul {
            display: flex;
            list-style-type: none;
            padding: 0;
            gap: 1rem;
            flex-wrap: wrap;
            flex-direction: column;
          }
        }
      }
    }
    .button {
      display: block;
      text-decoration: none;
      width: 100%;
      margin: 2rem auto;
      border: none;
      border-radius: 2rem;
      height: 2rem;
      background-color: rebeccapurple;
      max-width: 380px;
      color: white;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        max-width: 400px;
        height: 2.5rem;
      }
    }
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #9c86f9;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #9c86f9 transparent transparent transparent;
    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: #9c86f9;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}
